.top-content-padding {
  padding-top: 5rem;
}

.card {
  overflow-wrap: break-word;
}

.logo-wrapper {
  img {
    max-width: 400px;

    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }
}
